* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.background {
  background-image: url("./assets/Ruby-World-Map.svg");
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 15%;
  z-index: -1;
}

header {
  background-color: white;
  height: 50px;
  width: 100vw;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  z-index: 1;
}

header img {
  padding: 5px;
  height: 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 20px;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
}

.home {
  text-align: center;
  padding: 20px;
  height: 80vh;
}

.home p {
  padding: 50px;
}

.searchdiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.searchdiv input {
  width: 12rem;
  padding: 0.5rem;
}

.searchdiv label {
  padding: 0.5rem;
  font-size: 2rem;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 3rem;
}

.countryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.countryname {
  background-color: white;
  border: solid black 1px;
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.countryContainer a {
  color: black;
  text-decoration: none;
}

.countryname h2 {
  font-weight: bold;
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  background-color: slategray;
  color: white;
}

.countryname p {
  padding: 10px;
  font-size: 1rem;
}

.countryname img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.language {
  font-weight: 1000;
}

.population span {
  text-transform: lowercase;
}

.countrysingle {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.singleCountryCard {
  background-color: white;
  border: solid black 1px;
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.singleCountryCard h2 {
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  background-color: slategray;
  color: white;
  border-radius: 10px;
}

.singleCountryCard p {
  padding: 10px;
}

.singleCountryCard img {
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: -10px;
  right: -100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: slategray;
  height: 3rem;
  width: 100vw;
}

footer p {
  text-align: center;
}

.about {
  height: 80vh;
}

.about h2 {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.about p {
  font-size: 1.25rem;
  padding: 40px;
  text-align: center;
}
